h1{
    font-size: 40rem;
}


html {
    box-sizing: border-box;
    font-size: 62.5%; /* formula para usar rem en vez de pixeles*/
}

.contenedor {
    width: 95%;
    max-width: 120rem; /** = 1200px; **/
    margin: 0 auto;
    image-resolution: 40rem;
}

.seccion {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.iconos-nosotros{
    display: flex;
    justify-content: space-between;
}

.icono{
    text-align: center;

}
/********************/
.contenedor{
    max-width: 120rem;

    margin: 0 auto 0 auto;
}


.site-header.producto{
    background:url(../img/banner.jpg);
    height: 90rem;
    min-height: 60rem;
    background-position: center center;
    background-size: cover;

}

.barra {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.navegacion a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 20px;
}

.navegacion a:hover{
    color: #71B981;
}

.navegacion a:last-of-type {
    margin: 0;
}

.contenido-header{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
}